<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<br><br><br>
<h1>That was easy.</h1>
<a href="http://slackjs.me">
    <br><br><br>
    <span>Home</span>
</a>

</body>
</html>
